@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --color-bg: rgb(22, 23, 25);

  --color-text: rgb(230, 249, 232);
  --color-text-darker: rgb(167, 184, 173);
  --color-accent: rgb(40, 218, 100);
  --color-secondary: rgb(50, 52, 59);
}

body,
html {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}
